body {
  background: #151719;
}
div.greeting h1 {
    text-align: center;
    color: white;
}
div.points {
    color: white;
}
div.email {
    color: white;
}
a.button {
    display: inline-block;
    background: #57a639;
    color: #fff;
    padding: 12px;
    border-radius: 3px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
}
div.change_name{
    margin: 4px;
    text-align: right;
}
a.button:hover {
    background-color: #f89d13
}