{% extends 'base.html' %}

{% block content %}
<div class="z-index-n2 view intro-image">
    <div class="mask bg-primary bg-opacity-50 d-flex justify-content-center align-items-center">
        <div class="container w-70">
            <div class="row">
                <div class="col-md-12 text-white text-center">
                    <h1 class="fw-bold text-capitalize mb-3">
                        Тест
                    </h1>
                    <hr class="intro-hr w-50 mx-auto">
                    <h5 class="mb-5 lead">
                        Позволяем решать задачи по математике
                    </h5>
                    <a href="{{ url_for('none') }}" class="btn btn-primary">Зарегистрироваться</a>
                    <a href="{{ url_for('none') }}" class="btn btn-success">Войти</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}