{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <h2>География команды</h2>
                <h4>Курская область, город Курск</h4>
                <p class="mb-0">Выпускники Лицея Академии Яндекса</p>
            </div>
            <div class="col-md-6">
                <h2>Выполненные требования</h2>
                <h4>Некоторый текст</h4>
                <p class="text-muted">- Некоторый текст</p>
                <p class="text-muted">- Некоторый текст</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <h2>Команда проекта</h2>
                <ul class="list-group">
                    <li class="list-group-item border-0 py-1"><i class="fa fa-cog"></i> Лоторев Кирилл</li>
                    <li class="list-group-item border-0 py-1"><i class="fa fa-cog"></i> Тимофей Борисов</li>
                    <li class="list-group-item border-0 py-1"><i class="fa fa-cog"></i> Александр Булгаков</li>
                    <li class="list-group-item border-0 py-1"><i class="fa fa-cog"></i> Артур Дерр</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2>Наши плюсы</h2>
                <h4>Некоторый текст</h4>
                <p class="text-muted mb-0">- Некоторый текст</p>
                <p class="text-muted">- Некоторый текст</p>
                <h4>Некоторый текст</h4>
                <p class="text-muted mb-0">- Некоторый текст</p>
                <p class="text-muted">- Некоторый текст</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <h2>Стек ЯП</h2>
                <ul class="list-group">
                    <li class="list-group-item border-0 py-1"><i class="fa fa-check-circle"></i> Python (flask)</li>
                    <li class="list-group-item border-0 py-1"><i class="fa fa-check-circle"></i> HTML, CSS</li>
                    <li class="list-group-item border-0 py-1"><i class="fa fa-check-circle"></i> JavaScript</li>
                </ul>
            </div>
        </div>
        <script>
        window.onload = function() {
        document.body.classList.add('loaded');
        </script>
        <style>
        .loaded {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
        }
        </style>
    </div>
{% endblock %}