{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="static/main.css">
<h2 align="center" style="color:#E0FFFF">Математический генератор</h2>
<style>
body {
    background-color: #434750;
}
form{
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
form h3{
    font-size: 40px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(242, 221, 198, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
.dropdown {
     position: relative;
     display: inline-block;
}
.dropdown-content {
     display: none;
     position: absolute;
     right: 0;
     background-color: #f9f9f9;
     min-width: 120px;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
     z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
</style>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="level" data-bs-toggle="dropdown" aria-expanded="false">
    Уровень сложности
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="/set_easy">Легкий</a></li>
    <li><a class="dropdown-item" href="/set_medium">Средний</a></li>
    <li><a class="dropdown-item" href="/set_hard">Сложный</a></li>
  </ul>
</div>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="type" data-bs-toggle="dropdown" aria-expanded="false">
    Тип знака между частями примера
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Равенство</a></li>
    <li><a class="dropdown-item" href="#">Неравенство</a></li>
    <li><a class="dropdown-item" href="#">Числовой пример</a></li>
  </ul>
</div>
{% if current_user.type_task == 'Числовой пример'%}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="numericalexample" data-bs-toggle="dropdown" aria-expanded="false">
    Тип примера
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Сложение</a></li>
    <li><a class="dropdown-item" href="#">Вычитание</a></li>
    <li><a class="dropdown-item" href="#">Деление</a></li>
    <li><a class="dropdown-item" href="#">Умножение</a></li>
  </ul>
</div>
{%endif%}
<form method="post" action="/">
    <h3>{{a[0]}}</h3>
    <label class="form-label">
        <input type="text" name="answer" placeholder="Ответ">
    </label>

    <button type="submit" class="btn btn-primary">Проверить</button>
</form>
    <a href='/' type="submit" class="btn btn-primary">Пропустить</a>
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>