{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<script>
  function showPopup() {
    var popup = document.createElement('div');
    var text = document.createElement('p');
    var input = document.createElement('input');
    var button = document.createElement('button');

    text.textContent = 'Введите новое имя:';
    input.setAttribute('type', 'text');
    button.textContent = 'Подтвердить';

    popup.style.position = 'fixed';
    popup.style.top = '50%';
    popup.style.left = '50%';
    popup.style.transform = 'translate(-50%, -50%)';
    popup.style.backgroundColor = '#fff';
    popup.style.padding = '20px';
    popup.style.border = '1px solid #000';

    popup.appendChild(text);
    popup.appendChild(input);
    popup.appendChild(button);

    document.body.appendChild(popup);

    button.addEventListener('click', function() {
        var newName = input.value;
        alert('Вы ввели имя: ' + newName);
        document.body.removeChild(popup);
    });
}
</script>
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<link href="./static/profile.css" rel="stylesheet">
<body>
<div class="user_info">
    <div class="greeting">
        <h1>{{greeting}} {{username}}!</h1>
<div class="dropdown" style="text-align: center">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Ваши награды
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">{{reward[0]}}</a></li>
    <li><a class="dropdown-item" href="#">{{reward[1]}}</a></li>
    <li><a class="dropdown-item" href="#">{{reward[2]}}</a></li>
  </ul>
</div>
    <div class="points">
        <h2 style="position:fixed; left:10px; top:60px; color:gray;">Счёт: {{points}} баллов.</h2>
    </div>
</div>
<div class="buttons_bst" style="display: flex; justify-content: space-between; margin-top: 5%; padding-bottom: 5%">
    <a class="btn btn-primary" href="/top">Рейтинг пользователей</a>
    <a class="btn btn-primary" href="/missingexamples">Нерешённые примеры</a>
    <a class="btn btn-primary" href="/change_data">Сменить никнейм</a>
    <a class="btn btn-primary" href="/reward">Получить грамоту</a>
</div>
<div>
    <center><img src="static/{{filename}}"></img></center>
</div>

</body>
{% endblock %}