{% extends 'base.html' %}

{% block content %}

<h1>Register Form</h1>

<form action="" method="post">
    {{ form.hidden_tag() }}

        {{ form.login.label }}
        {{ form.login(class="form-control", type="email") }}
        {% for error in form.login.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}

        {{ form.password.label }}
        {{ form.password(class="form-control", type="password") }}
        {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}


        {{ form.repeat_password.label }}
        {{ form.repeat_password(class="form-control", type="password") }}
        {% for error in form.repeat_password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}


        {{ form.username.label }}
        {{ form.username(class="form-control") }}
        {% for error in form.username.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    <br/>

    <div>{{ form.submit(type="submit", class="btn btn-primary", value="Зарегистрироваться") }}</div>

</form>

{% endblock %}